* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}



a {
  color: unset;
  text-decoration: none;
}

.header{
  background-color: var(--color-bg);
}


.float-actions {
  width: 18%;
  float: left;
}  
.float-grid {
  width: 82%;
  float: left;
}  
.section__padding{
  padding: 4rem 6rem;
}

.section__margin{
  margin: 4rem 6rem;
}

@media screen and (max-width: 700px){
  .section__padding{
    padding: 4rem;
  }
  
  .section__margin{
    margin: 4rem;
  }
}

@media screen and (max-width: 550px){
  .section__padding{
    padding: 4rem 2rem;
  }
  
  .section__margin{
    margin: 4rem 2rem;
  }
}
          
          